body{
    background: blueviolet;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: 0.3s;
}
h2{
    color: #000;
    font-weight: 200;
    padding: 5px 10px;
    border: 2px solid #fff;
    background-color: #fff;

}
button{
    padding: 15px;
    background: transparent;
    border: 2px solid #fff;
    transition: 0.8s cubic-bezier(0.175,0.885, 0.32, 1.275);
}
button:hover{
    background: #fff;
    color: #000;
    cursor: pointer;
}
button:active{
    padding: 5px;
}
